
/* 菜单设置开始*/
.menu, .menu-holder{
    min-height: 60px;
    line-height: 60px;
    padding-right: 20px; 
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;
}
.menu table
{
     min-height: 60px;
    line-height: 60px;
    margin: 20px auto;
    
}
.menu a{
    font-size: 16px;
    color: #D6D6D6;
}

.menu td{
    padding: 0 20px;
    line-height: 40px;
}

.menu td.small-padding{
    padding: 0 10px;
    line-height: 40px;
}

.menu .td_mall
{
    width: 60px;
    height: 60px;
    padding:0;
    border-radius: 30px;
    background-color: rgb(233, 85, 19);
}
.menu  .td_mall a{
        margin-left: 13px;
}

.point{
    width: 5px;
    height:5px;
    border-radius: 3px;
    margin: 0 auto;
    background-color:#D6D6D6;
}

.menu .line{
    position: relative;
    top: -31px;
    left: 40px;
    overflow: hidden;
    border-top: 1px solid #D6D6D6;
    z-index: -1;
}

.menu .active *{
    color: rgb(233, 85, 19);
    
}
.menu .active .point{
    background-color: rgb(233, 85, 19);
}
/* 菜单设置结束*/

footer{
    min-height: 60px;
    line-height: 60px;
    padding-right: 20px;
    background-color:#D6D6D6;
}

.store_sec_menu, .sec_menu
{
    position: absolute;
    top: 70px;
    right: 230px;
    z-index: 10;
}
.product_sec_menu
{
    top: 70px;
    right: 25%;
}
.a_img
{ 
    cursor:pointer;
    width: 100px;
    height: 60px;
    margin: 0 10px;
}

.panel-body-transparent
{
    background-color: rgba(0,0,0,0);
    border:none;
}

.td-bar-point
{
    height: 40px;
    line-height: 40px;
    display: inline-flex;
}
 
.bar-point
{
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: white;
    margin:0px auto;
    margin-left: 5px;
    
}
.bar-table tr{
    line-height: 45px;
}
.sidemenu
{
    width: 40px;
    height: 40px;
    cursor: pointer;
    margin-left: 5px;
}
.phone
{
    font-size: 20px;
}
.td_online
{
    max-width: 100px;
}
.online-div
{
    text-align: center;
}
.online-img
{
    width: 100px;
    height: 30px;
}