
/* 菜单设置开始*/
.menu, .menu-holder{
    min-height: 60px;
    line-height: 60px; 
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000; 
    margin-bottom: 5px;
}
.menu table
{
     min-height: 60px;
    line-height: 60px;
    margin: 20px auto;
    
}
.menu a{
    font-size: 14px;
    color: #D6D6D6;
}

.menu a:hover, .a_img:hover{
    text-decoration: none;
}

.menu td{
    padding: 0 20px;
    line-height: 40px;
}

.menu td.small-padding{
    padding: 0 10px;
    line-height: 40px;
}

.menu .td_mall
{
    width: 60px;
    height: 60px;
    padding:0;
    border-radius: 30px;
    background-color: rgb(233, 85, 19);
}
.menu-unfixed
{
    position: static !important;
}
.orange
{
    color: rgb(233, 85, 19);
}

.orange-bg
{
    background-color: rgb(233, 85, 19);
}
.menu  .td_mall a{
        margin-left: 13px;
}

.point{
    width: 5px;
    height:5px;
    border-radius: 3px;
    margin: 0 auto;
    background-color:#D6D6D6;
}

.menu .line{
    position: relative;
    top: -31px;
    left: 40px;
    overflow: hidden;
    border-top: 1px solid #D6D6D6;
    z-index: -1;
}

.menu .active *{
    color: rgb(233, 85, 19);
    
}
.menu .active .point{
    background-color: rgb(233, 85, 19);
}
/* 菜单设置结束*/

footer{
    min-height: 60px;
    line-height: 60px;
    padding-right: 40px;
    padding-left: 40px;
    background-color:#D6D6D6;
}

.store_sec_menu, .sec_menu
{
    position: absolute;
    top: 70px;
    right: 230px;
    z-index: 10;
}
.product_sec_menu
{
    top: 70px;
    right: 25%;
}
.a_img
{ 
    cursor:pointer;
    width: 100px;
    height: 60px;
    margin: 0 10px;
}

.panel-body-transparent
{
    background-color: rgba(0,0,0,0);
    border:none;
    z-index: 1000;
}

.td-bar-point
{
    height: 40px;
    line-height: 40px;
    display: inline-flex;
}
 
.bar-point
{
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: white;
    margin:0px auto;
    margin-left: 5px;
    
}
.bar-table tr{
    line-height: 45px;
}
.sidemenu
{
    width: 40px;
    height: 40px;
    cursor: pointer;
    margin-left: 5px;
}
.phone
{
    font-size: 20px;
}
.td_online
{
    max-width: 100px;
}
.online-div
{
    text-align: center;
}
.online-img
{
    width: 100px;
    height: 30px;
}
.right-sider-bar
{
    position: fixed;
    right: 0;
    bottom: 40px;
    right: 20px;
    z-index: 2;
} 
.bar-table td {
    text-align: center;
    margin: 0 auto;
}

.bar-table td a, .swiper-slide a {
    color: white;
}

.scroll-up, .scroll-down{
    width: 33px;
    height: 33px;
    border-radius: 20px;
    background-color: white;
    text-align: center;
    margin:5px 0;
    -webkit-box-shadow: 0px 1px 3px rgba(0,0,0,.4);
    box-shadow: 0px 1px 3px rgba(0,0,0,.4);
    cursor: pointer;
}
.store_sec_menu, .sec_menu 
{
    -webkit-box-shadow: none;
    box-shadow: none;
}

.scroll-up .fa, .scroll-down .fa{
    color: gray;
    line-height: 33px;
    font-size: 20px;
}

.circle {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    line-height: 40px;
    text-align: center;
    background-color: white;
    cursor: pointer;
}

.logo
{
    height: 34px;
}
 
td.td-bar-point
{ 
    display: block;
    width: 70px;
    text-align: right;
    margin-top: 5px;
}
.second_menu_holder
{
    width: 100%;
    background-color:#d6d6d6;
}

.linkitems
{
    padding: 40px;
   background-image: url('../img/bk.png');
     background-repeat:repeat; 
     background-size:100% 100%;
     -moz-background-size:100% 100%;
}

.fa-search
{
    color:#d6d6d6;
}

.container-center
{
    text-align: center;
    margin: 0 auto;
}