.content
{ 
    width: 100%;
    background-color: #3C3D3F;
}

.swiper-container
{ 
    z-index: -1;
}

.swiper-slide
{ 
     text-align: left;
}


.fa{
    color:white;
}

.fa-side{
    color:gray;
    font-size: 20px;
}
 
.wechat_div
{
    position: fixed;
    bottom: 80px;
    right: 150px;
}

.h1_product_name, .h3_product_name
{
    color: gray;
}
.p_title{
    font-family: -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}
.white_span, .yellow_span
{
    font-weight: thin;  
    font-size: 70px;
     
}

.white_span{
    color: white;
}

.yellow_span
{
    color: rgb(233, 85, 19);
}


.learn_more
{
    border-bottom: 3px solid white;
}

.h3_product_name
{
    font-size: 14px;
    margin:0;
}
.h1_product_name
{
   margin-bottom:0;
}
.sider1
{
    position: absolute;
    bottom: 60px;
    left: 60px;
}

