 .menu
 {
     background-color: white;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
 }

.row-select
{
    text-align: center;
}

 

.container-detail
{
    background-color: #d6d6d6; 
    padding-top: 40px;
}
 

.online
{
    background-color: gray;
    border-radius: 10px;
    margin-top: 20px;
    padding: 5px;
}

.online p{
    color: white;
} 

.container-title
{
    margin-top: 100px; 
    width: 100%;
    height: 120px;
    padding-top: 30px;
    background-color: #d6d6d6;
}

.container-title a, .circle a{
    color: gray;
}

 
.items a{
    color: gray;
}
.service_active a, .active a
{
    font-weight: bold;
    color:rgb(233, 85, 19);
}

.title
{
    color:rgb(233, 85, 19);
    font-size: 25px;
}

.number
{ 
    font-size: 30px;
    color: #d6d6d6;
}
.active-tip
{
    margin-top: 40px;
    width: 100%;
}

.col-newsitem table
{
    width: 100%;
}
.img-holder
{
    background-color: gray;
    width: 97%;
    height: 140px;
}

.col-active-list table
{
    width: 100%;
}
.col-left,  .col-right
{
    margin-top: 40px;
}
.big-img-holder
{
    line-height: 240px;
    text-align: center;
    color: white;
    font-size: 30px;
    background-color: gray;
    width: 99%;
    height: 240px;
}

.col-tags
{
    margin-top: 40px;
}

.col-tags-item
{
    height: 20px;
    background-color: gray;
    margin: 2px;
}

.subscribe
{
    margin-top: 25px;
    width: 100%;
    height: 180px;
    background-color: gray;
    line-height: 180px;
    color: white;
    text-align: center;
}

.p_title
{
    font-size: 16px;
    font-weight: bold;
}
.col-newsitem
{
    margin-top: 40px;
}
.col-newsitem table td{
    width: 33%;
}
.circle {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    line-height: 40px;
    text-align: center;
    background-color: white;
    cursor: pointer;
    -webkit-box-shadow: 0px 1px 3px rgba(0,0,0,.19);
    box-shadow: 0px 1px 3px rgba(0,0,0,.19);
    margin: 3px;    
}
.pagination-active
{
    background-color: rgb(233, 85, 19);
    color: white;
}

.new_tags
{
    font-size: 20px;
}
.tag
{
    border: 1px solid rgb(233, 85, 19);
    color:rgb(233, 85, 19); 
    font-weight: bold;
}

.col-rss
{
    margin-top: 20px;
}
.swiper-button-next, .swiper-button-prev
{
    top: 33%;
}
.col-sec, .col-first
{
    margin-top: 40px;
}