.content
{ 
    width: 100%;
    background-color: #3C3D3F;
}

 

.swiper-slide
{
     line-height: 650px;
     text-align: center;
}

.row-select
{
    line-height: 100px; 
}

.sel-city
{
    line-height: 80px;
    height: 40px;
    width: 120px;
}

.container-detail
{
    background-color: #d6d6d6; 
    padding-top: 40px;
}
.map
{
    width: 100%;
}

.online
{
    background-color: gray;
    border-radius: 10px;
    margin-top: 20px;
    padding: 5px;
}

.online p{
    color: white;
} 