/* 
 * 页面标题
 */
.posted-top{
    font-size: 18px;
    padding:15px;
}
/* 
 * 发帖
 */
    .content{
        padding:15px;
        background-color:#fff; 
    }
    /* 编辑标题 */
    .posted-title{
        position: relative;
    }
    .input-posted-title{
        width: 100%;
    }
    #posted-title{
        width: 100%;
        padding:10px 60px 10px 10px; 
        border-radius: 0px;
        font-size: 16px;
        border: #ccc 1px solid;

    }
    .posted-title span {
        position: absolute;
        right: 10px;
        bottom: 12px;
        color: #AAA;
    }
    /* 发帖类别 */
    .posted-classification{
        padding: 15px 0;
    }
    .posted-classification select{
        padding:8px 10px 12px;
        font-size: 16px;
        width: 150px;
        margin-right: 15px;
    }
    /* 编辑内容 */
    .reply-btn, .reply-btn-grey{
        
        text-align: center; 
        display: block;
        margin: 0 auto;
        font-size: 18px;
        background-color: #fff;
        width: 150px;
        margin-top: 10px;
    }
    .reply-btn{
        border:1px solid rgb(254, 112, 60); 
        color: rgb(254, 112, 60);
    }
    .reply-btn-grey{
        border:1px solid grey; 
        color:grey;
    }
    