<!DOCTYPE html>
<html>
<head>
<meta http-equiv="con-Type" con="text/html; charset=utf-8" />
<title>论坛</title>
<link rel="stylesheet" type="text/css" media="screen" href="css/swiper.css" />
<link href="css/bootstrap.min.css" rel="stylesheet">
<link href="font-awesome-4.7.0/css/font-awesome.css" rel="stylesheet">
<link href="css/pagination.css" rel="stylesheet">
<link rel="stylesheet" href="css/base.css">
 <link rel="stylesheet" href="css/forum.css">
</head>
<body  >
<nav class="navbar navbar-default navbar-fixed-top navbar-inverse" role="navigation" >
    <div class="header">
        <div class="navbar-header"> <a href="#"> <img class="logo" alt="Brand" src="img/logo.png"> </a> </div>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="产品论坛.html">产品<span class="sr-only">(current)</span></a></li>
            <li><a href="技术支持.html">技术支持</a></li>
            <li><a href="cast_ii_社区.html">案例展示<span class="sr-only">(current)</span></a></li>
            <li><a href="#">进入商城<span class="sr-only">(current)</span></a></li>
            <li ><a href="#">官网<span class="sr-only">(current)</span></a></li> 
			<li ><a href="#">登录</a></li> 
			<li ><a href="#">申请成为开发者</a></li> 
			 
        </ul>
    </div>
</nav>
<div class="wrap">
<div class="left">
     <div class="forum_nav">
            <ul class="nav nav-tabs">
                <li role="presentation blue"><a href="#"><strong>全部</strong> <span class="badge">577</span></a></li>
                <li role="presentation"><a href="#">Android</a></li>
                <li role="presentation"><a href="#">iOS</a></li>
                <li role="presentation"><a href="#">BUG</a></li>
                <li role="presentation"><a href="#">求助</a></li>
            </ul>
        </div>
    <div class="hot">
        
        <div>
            <div class="h4"><a class=" h4" href="帖子详情.html">标题点击进入</a></div>
            <div class="navbar-left">
                <ul class="user hot_con">
                    <li>用户昵称</li>
                   
                    <li>时间</li>
                    
                </ul>
            </div>
            <div class="navbar-right user_nub"><i class="fa fa-eye" aria-hidden="true"></i>3<i class="fa fa-commenting my_fa" aria-hidden="true"></i>3</div>
        </div>
    </div>
   <div class="hot">
        
        <div>
            <div class="h4"><a class=" h4" href="帖子详情.html">标题点击进入</a></div>
            <div class="navbar-left">
                <ul class="user hot_con">
                    <li>用户昵称</li>
                   
                    <li>时间</li>
                    
                </ul>
            </div>
            <div class="navbar-right user_nub"><i class="fa fa-eye" aria-hidden="true"></i>3<i class="fa fa-commenting my_fa" aria-hidden="true"></i>3</div>
        </div>
    </div> <div class="hot">
        
        <div>
            <div class="h4"><a class=" h4" href="帖子详情.html">标题点击进入</a></div>
            <div class="navbar-left">
                <ul class="user hot_con">
                    <li>用户昵称</li>
                   
                    <li>时间</li>
                    
                </ul>
            </div>
            <div class="navbar-right user_nub"><i class="fa fa-eye" aria-hidden="true"></i>3<i class="fa fa-commenting my_fa" aria-hidden="true"></i>3</div>
        </div>
    </div> <div class="hot">
        
        <div>
            <div class="h4"><a class=" h4" href="帖子详情.html">标题点击进入</a></div>
            <div class="navbar-left">
                <ul class="user hot_con">
                    <li>用户昵称</li>
                   
                    <li>时间</li>
                    
                </ul>
            </div>
            <div class="navbar-right user_nub"><i class="fa fa-eye" aria-hidden="true"></i>3<i class="fa fa-commenting my_fa" aria-hidden="true"></i>3</div>
        </div>
    </div> <div class="hot">
        
        <div>
            <div class="h4"><a class=" h4" href="帖子详情.html">标题点击进入</a></div>
            <div class="navbar-left">
                <ul class="user hot_con">
                    <li>用户昵称</li>
                   
                    <li>时间</li>
                    
                </ul>
            </div>
            <div class="navbar-right user_nub"><i class="fa fa-eye" aria-hidden="true"></i>3<i class="fa fa-commenting my_fa" aria-hidden="true"></i>3</div>
        </div>
    </div> <div class="hot">
        
        <div>
            <div class="h4"><a class=" h4" href="帖子详情.html">标题点击进入</a></div>
            <div class="navbar-left">
                <ul class="user hot_con">
                    <li>用户昵称</li>
                   
                    <li>时间</li>
                    
                </ul>
            </div>
            <div class="navbar-right user_nub"><i class="fa fa-eye" aria-hidden="true"></i>3<i class="fa fa-commenting my_fa" aria-hidden="true"></i>3</div>
        </div>
    </div> <div class="hot">
        
        <div>
            <div class="h4"><a class=" h4" href="帖子详情.html">题点击进入</a></div>
            <div class="navbar-left">
                <ul class="user hot_con">
                    <li>用户昵称</li>
                   
                    <li>时间</li>
                    
                </ul>
            </div>
            <div class="navbar-right user_nub"><i class="fa fa-eye" aria-hidden="true"></i>3<i class="fa fa-commenting my_fa" aria-hidden="true"></i>3</div>
        </div>
    </div> <div class="hot">
        
        <div>
            <div class="h4"><a class=" h4" href="帖子详情.html">标题点击进入</a></div>
            <div class="navbar-left">
                <ul class="user hot_con">
                    <li>用户昵称</li>
                   
                    <li>时间</li>
                    
                </ul>
            </div>
            <div class="navbar-right user_nub"><i class="fa fa-eye" aria-hidden="true"></i>3<i class="fa fa-commenting my_fa" aria-hidden="true"></i>3</div>
        </div>
    </div>
    <div class="text-center"> <table class="pagination">
                    <tr>
                      <td>
                        <div class="circle orange  " > 
                            <i class="fa fa-angle-double-left" aria-hidden="true"></i>
                        </div>
                      </td>
                      
                      <td>
                        <div class="circle orange-bg pagination-active" > 
                            1
                        </div>
                      </td>
                    
                        <td>
                        <div class="circle orange  " > 
                            2
                        </div>
                      </td>
                        <td>
                        <div class="circle orange  " > 
                            3
                        </div>
                      </td>
                    
                        <td>
                        <div class="circle orange  " > 
                            4
                        </div>
                      </td>
                      <td>
                        <div class="circle orange" > 
                            <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                        </div>
                      </td>
                      </tr>
                  </table>
              </div>
</div>
<div class="right">
    <div class="recommend ">
        <div class="my_circle">
                 <img class="circle_img" src="img/li_1.png"/>
                  
             </div>
             <p class="p_title box_p">Mobile-SDK</p>
			        <div class="p_detail">
                 <table class="p_detail_table">
                     <tr>
                         <td class="td_left"> 今天:0 </td>
                         <td class="td_right"> 一共:777 </td>
                      </tr>
                 </table> 
			 </div>
        <a href="#"><div class="blue_btn">发帖</div></a>
       <form class="text-center">
            <input type="text" class="search_m" placeholder="搜索" aria-describedby="basic-addon1">
    </form>
     </div>
</div>

</div>
<div class="footer">
    <div class="code">
	<img class="code_img" src="img/code1.png" />
	<img class="code_img" src="img/code2.png" />
	</div>
    <ul class="footer_nav">
        <li><a href="">一数官网</a></li>
        <li><a href="">一数商城</a></li>
        <li><a class="wechat"  href="">微信群</a></li>
        <li><a class="qqgroup" href="">qq群</a></li>
        <li><a href="技术支持.html">开发者论坛</a></li>
    </ul>
    <ul class="footer_bottom">
        <li><a href="">一数社区</a></li>
        <li><a class="line" href="">版权所有</a></li>
        <li><a href="规则.html">社区规则</a></li>
    </ul>
</div>
<script src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/swiper-3.4.2.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/footer.js"></script>
<script language="javascript"> 
var mySwiper = new Swiper('.swiper-container',{
pagination : '.swiper-pagination',
prevButton:'.swiper-button-prev',
nextButton:'.swiper-button-next',
})
</body>
</html>
