<!DOCTYPE html>
<html>
<head>
<meta http-equiv="con-Type" con="text/html; charset=utf-8" />
<title>论坛首页|发帖</title> 
<link rel="stylesheet" type="text/css" media="screen" href="css/swiper.css" />
<link href="css/bootstrap.min.css" rel="stylesheet">
<link href="js/plugins/rich/jquery-te-1.4.0.css" rel="stylesheet">
<link rel="stylesheet" href="css/base.css">
<link rel="stylesheet" href="css/publish.css">
 
</head>
<body  >
<nav class="navbar navbar-default navbar-fixed-top navbar-inverse" role="navigation" >
    <div class="header">
        <div class="navbar-header"> <a href="#"> <img class="logo" alt="Brand" src="img/logo.png"> </a> </div>
        <ul class="nav navbar-nav navbar-right">
            <li ><a href="论坛首页.html">论坛首页<span class="sr-only">(current)</span></a></li> 
            <li ><a href="cast_ii_社区.html">Cast II 社区<span class="sr-only">(current)</span></a></li>
            <li ><a href="活动列表.html">活动<span class="sr-only">(current)</span></a></li>
            <li ><a href="服务.html">服务<span class="sr-only">(current)</span></a></li> 
            <li><a href="#">进入商城<span class="sr-only">(current)</span></a></li>
            <li><a href="#">官网<span class="sr-only">(current)</span></a></li>
            <li><a href="#">软件下载<span class="sr-only">(current)</span></a></li>
            <li>
                <div class="login_holder">
                <a href="#">登录</a>|<a href="#">注册</a>
                </div>
            </li>
            <li> </span>
            <span class="sr-only">(current)</span></a></li>
        </ul>
    </div>
</nav>
<div class="wrap">
  
    <div class="main">
        <div class="left">
            <div class="hot"> 
                <form >
                     <input class="form-control input" name="title" id="title" placeholder="请输入标题...."/>
                     <textarea class="publish_content">
                     </textarea>
                      
                     <input type="submit" class="my_btn" value="发表"/>
                </form>
            </div> 
        </div>
    </div>
    <div class="right">
       <form >
    <input type="text" class="search" placeholder="搜索" aria-describedby="basic-addon1">
</form>
       <a href="发帖.html" target="_blank">
            <div class="cast2_sign">
            <div class="sign_img"> <img src="img/li_1.png"/></div>
                    <span class="h4 font_color posted">+签到</span>
             
            </div>
        </a>
<div class="recommend">
<div class="recommend_head">
    <h3 class="panel-title">今日推介<a class="navbar-right user_nub" style="color:#999;margin-right:5px;" href="#">更多 ></a></h3>
</div>
<div class="recommend_body">
<ul>
<li class="font_color"><span class="orange_round">1</span>推介主题</li>
<li><span class="orange_round">2</span>推介主题</li>
<li><span class="orange_round">3</span>推介主题</li>
<li><span class="black_round">4</span>推介主题</li>
<li><span class="black_round">5</span>推介主题</li>
<ul>
</div>
</div>

</div>
</div>

</div>
<div class="footer">
    <div class="code">
	<img class="code_img" src="img/code1.png" />
	<img class="code_img" src="img/code2.png" />
	</div>
		<ul class="footer_nav">
        	<li><a href="">一数官网</a></li>
        	<li><a href="">一数商城</a></li>
        	<li><a class="wechat"  href="">微信群</a></li>
        <li><a class="qqgroup" href="">qq群</a></li>
        <li><a href="技术支持.html">开发者论坛</a></li>
    </ul>
    <ul class="footer_bottom">
        <li><a href="">一数社区</a></li>
        <li><a class="line" href="">版权所有</a></li>
        <li><a href="规则.html">社区规则</a></li> 
    </ul>
	
</div>
<script src="js/jquery.min.js"></script> 
<script src="js/bootstrap.min.js"></script>
<script src="js/footer.js"></script>
<script src="js/plugins/rich/jquery-te-1.4.0.min.js"></script>
<script>
    $(document).ready(function(){
        $('.publish_content').jqte();
    });
</script>
</body>
</html>
