<!DOCTYPE html>
<html>
<head>
<meta http-equiv="con-Type" con="text/html; charset=utf-8" />
<title>论坛首页</title> 
<link rel="stylesheet" type="text/css" media="screen" href="css/swiper-3.4.2.min.css" />
<link href="css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="css/base.css">
<link rel="stylesheet" href="css/details.css">  
</head>
<body >
<nav class="navbar navbar-default navbar-fixed-top navbar-inverse" role="navigation" >
    <div class="header">
        <div class="navbar-header"> <a href="#"> <img class="logo" alt="Brand" src="img/logo.png"> </a> </div>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="论坛首页.html">论坛首页<span class="sr-only">(current)</span></a></li>
            <li><a href="cast_i_社区.html">Cast I 社区</a></li>
            <li><a href="cast_ii_社区.html">Cast II 社区<span class="sr-only">(current)</span></a></li>
            <li><a href="">软件下载<span class="sr-only">(current)</span></a></li>
            <li><a href="服务.html">服务<span class="sr-only">(current)</span></a></li>
            <li class="active"><a href="活动列表.html">活动<span class="sr-only">(current)</span></a></li>
            <li><a href="#">进入商城<span class="sr-only">(current)</span></a></li>
            <li><a href="#">官网<span class="sr-only">(current)</span></a></li>
            <li><a href="#"><span class="glyphicon glyphicon-user"></span><span class="sr-only">(current)</span></a></li>
        </ul>
    </div>
</nav>
<div class="wrap_p2">
    <div class="main_p2">
        <div class="left_p2"> 
            <div class="warp_top"> <span class="label label-danger">楼主</span><span class="pull-right">< 返回</span>
                <h4 class="ruel_cl">社区版规</h4>
                <p>发布:2016-06-16 16:22:38</p>
                <div class="pull-right"><span class="glyphicon glyphicon-eye-open">3</span><span class="glyphicon glyphicon-comment">3</span><span class="glyphicon glyphicon-heart">3</span><span class="glyphicon glyphicon-share">3</span> </div>
                <hr/>
                <img src="img/usercon.png" width="100%"> </div>
            <div class="user_loginbar">
                <div class="msg text-center">你需要登陆之后才能回帖<span><a href="#">登陆</a></span><span class="reply"><a href="#">注册</a></span></div>
            </div>
            <div class="my_btn">
                <button type="button" class="btn btn-default">发表评论</button>
            </div>
            <div class="warp_bottom">
                <div class="hot">
                    <ul class="comment">
                        <li>评论 122</li>
                        <li>收藏</li>
                    </ul>
                </div>
                <div class="hot">
                    <div class="hot_img"><a href="#" target="_blank"><img src="img/li_1.jpg"/></a></div>
                    <div class="hot_con">
                        <dl>
                            <dt class="h4 title"><a href="#">标题点击进入</a></dt>
                            <dd>这里是内容描述内容描述</dd>
                        </dl>
                        <div class="navbar-right"><span>1楼</span><span class="reply">回复</span></div>
                    </div>
                </div>
                <div class="hot">
                    <div class="hot_img"><a href="#" target="_blank"><img src="img/li_1.jpg"/></a></div>
                    <div class="hot_con">
                        <dl>
                            <dt class="h4 title"><a href="#">标题点击进入</a></dt>
                            <dd>这里是内容描述内容描述</dd>
                        </dl>
                        <div class="navbar-right"><span>1楼</span><span class="reply">回复</span></div>
                    </div>
                </div>
                <nav aria-label="Page navigation ">
                    <ul class="pagination">
                        <li> <a href="#" aria-label="Previous"> <span aria-hidden="true">&laquo;</span> </a> </li>
                        <li class="active"><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li> <a href="#" aria-label="Next"> <span aria-hidden="true">&raquo;</span> </a> </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <!--
    <div class="right">
        <div class="bgcolor">
            <div class="user_img"><img src="img/li_1.jpg"/></div>
            <div class="h3 text-center user_name">用户名称</div>
        </div>
        <p class="text-center my_p">这里是三行居中文本<br>
            这里是三行居中文本<br>
            这里是三行居中文本
        </p>
        <div class="clearfix"><strong>管理员</strong>
            <div class="pull-right">
                <button type="button" class="btn btn-default btn-xs">点赞</button>
            </div>
        </div>
        <hr/>
        <div>
            <table class="my_table">
                <tr>
                    <td>1</td>
                    <td class="line">1</td>
                    <td>23</td>
                </tr>
                <tr>
                    <td>主题</td>
                    <td class="line">帖子</td>
                    <td>积分</td>
                </tr>
            </table>
        </div>
        <div class="progress my_progress">
            <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%"> <span class="sr-only">60% Complete (warning)</span> </div>
        </div>
		<hr/>
		 <div>
            <table class="fans_table">
                <tr>
                    <td>关注</td>
                    <td>粉丝</td>
                </tr>
                <tr>
                    <td>12345</td>
                    
                    <td>12345</td>
                </tr>
            </table>
        </div>
		<hr/>
		<h3 class="text-center">分享</h3>
		<hr/>
    </div>
    -->
    <div class="right">
        <div class="bgcolor">
            <div class="user_img"><img src="img/li_1.jpg"/></div>
            <div class="h3 text-center user_name">用户名称</div>
        </div>
        <p class="text-center my_p">这里是三行居中文本<br>
            这里是三行居中文本<br>
            这里是三行居中文本 </p>
        <div class="right_holder" >
            <div class="clearfix clearfix_border"><strong>管理员</strong>
                <div class="pull-right">
                    <button type="button" class="btn btn-warning btn-xs">点赞</button>
                </div>
            </div> 
            <div class="div_center">
                <table class="my_table">
                    <tr>
                        <td>1</td>
                        <td class="line">1</td>
                        <td>23</td>
                    </tr>
                    <tr>
                        <td>主题</td>
                        <td class="line">帖子</td>
                        <td>积分</td>
                    </tr>
                </table>
            </div>
            <div class="progress my_progress">
                <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%"> <span class="sr-only">60% Complete (warning)</span> </div>
            </div>
            <hr/>
            <div class="div_center">
                <table class="fans_table">
                    <tr>
                        <td>关注</td>
                        <td>粉丝</td>
                    </tr>
                    <tr>
                        <td class="number">12345</td>
                        
                        <td class="number">12345</td>
                    </tr>
                </table>
            </div>
            <hr/>
            <h3 class="text-center">分享</h3>
            <i class="fa fa-share-alt" aria-hidden="true"></i>
            <hr/>
        </div>
    </div>
</div>
</div>
</div>
<div class="footer">
    <div class="code">
	<img class="code_img" src="img/code1.png" />
	<img class="code_img" src="img/code2.png" />
	</div>
    <ul class="footer_nav">
        <li><a href="">一数官网</a></li>
        <li><a href="">一数商城</a></li>
        <li><a class="wechat"  href="">微信群</a></li>
        <li><a class="qqgroup" href="">qq群</a></li>
        <li><a href="开发者论坛.html">开发者论坛</a></li>
    </ul>
    <ul class="footer_bottom">
        <li><a href="">一数社区</a></li>
        <li><a class="line" href="">版权所有</a></li>
        <li><a href="帖子详情.html">社区规则</a></li>
    </ul>
</div>
</div>
<script src="js/jquery.min.js"></script> 
<script src="js/bootstrap.min.js"></script>
<script src="js/footer.js"></script>
</body>
</html>
