<div class="left_nav"> 
		<ul   class="nav nav-tabs">
			<li><h2>{lang forum_subforums}</h2></li> 
			<!--{loop $sublist $sub}-->
			<!--{eval $forumurl = !empty($sub['domain']) && !empty($_G['setting']['domain']['root']['forum']) ? 'http://'.$sub['domain'].'.'.$_G['setting']['domain']['root']['forum'] : 'forum.php?mod=forumdisplay&fid='.$sub['fid'];}-->
		 	<li role="presentation">
				<h2>
				   <a href="$forumurl" {if !empty($sub[redirect])}target="_blank"{/if} style="{if !empty($sub[extra][namecolor])}color: {$sub[extra][namecolor]};{/if}">$sub[name]</a><!--{if $sub[todayposts] && !$sub['redirect']}--><em class="xw0 xi1" title="{lang forum_todayposts}"> ($sub[todayposts])</em>
				   <!--{/if}-->
			    </h2>
			</li> 
			<!--{/loop}--> 
		</ul> 
</div>