.microblog_logo{
    display: block;
    margin: 60px auto 15px;
    width: 110px;
    height: auto;
}
.title{
    color: #888;
    font-size: 20px;
}

.panel{
    padding:30px;
    background-color: inherit;
    border: 0px;
}
.panel-body{
    background-color: #fff;
    border-radius: 8px;
    padding: 30px;
}


.col-gray
{
    background-color:#D6D6D6;
    line-height: 40px;
    padding-left: 6px;
}


.form-control-bottom
{
    border:none;
    border-radius: 0;
    width: 100%; 
    margin-top: 30px; 
    outline: 0px;
    border-bottom: 1px solid #ddd;
    padding-left:6px; 
}

.btn-submit
{
    width: 100%;
    border-radius: 0; 
    background-color: rgb(254, 112, 60);
    border-color: rgb(254, 112, 60);
}
.col-protocal
{
    margin: 10px 0;
}
